.register {
  background-color: #dacfda;
  margin: 0 auto;
  max-width: 600px;
  padding: 2rem 0;
  border-radius: 10px;
}

.register h4 {
  margin-left: 4rem;
}

.regi-block {
  display: flex;
  width: 80%;
  font: inherit;
  font-weight: bold;
  margin: 1rem auto;
}

.regi-block label {
  padding-left: 0.5rem;
  line-height: 3;
  background-color: #efefef;
  flex-basis: 20%;
}

.regi-block input {
  padding-left: 0.5rem;
  line-height: 3;
  flex-basis: 80%;
  border: none;
}

.btn-list {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.btn-list button {
  width: 100px;
  height: 40px;
  font: inherit;
  color: white;
}

.save-btn {
  border: 1px solid #532353;
  border-radius: 8px;
  background-color: #532353;
}

.cancel-btn {
  border: 1px solid #8b8b8b;
  border-radius: 8px;
  background-color: #8b8b8b;
}

.save-btn:hover {
  border: 1px solid #431c43;
  background-color: #431c43;
  cursor: pointer;
}

.cancel-btn:hover {
  border: 1px solid #535353;
  background-color: #535353;
  cursor: pointer;
}
