.show-page {
  padding: 2rem;
  margin: 0 auto;
  font: inherit;
}

.features-list {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  border-bottom : 3px solid #532353
}

.filter-icon {
  width: 55px;
  height: 46px;
}

.shops-list {
  margin-top: 3rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selected-filter-frame {
  height: fit-content;
  max-width: 800px;
  margin: 1rem auto;
}

.selected-filter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.selected-filter span {
  margin: 0.3rem 0.2rem;
}

.delete-filter-btn {
  font-size: small;
}

hr {
  border-bottom: 6px solid #532353;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.selected-filter-name span {
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 0.2rem 0.3rem;
  margin: 0;
}

.filter-header {
  width: fit-content;
  text-align: center;
  display: inline-block;
  margin: 0 1rem 0 0;
}

.selected-filter span {
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  background-color: #532353;
  color: white;
}

.shop-img {
  max-width: 220px;
  height: 180px;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.shop {
  border-radius: 8px;
  max-width: 220px;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.25);
}

.shop-info {
  margin: 0.5rem;
}

.shop-name {
  font-size: 1.1rem;
  margin: 0;
}

.shop-city {
  color: #333333;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.shop-filter-icons {
  margin: 0;
}

.shop-filter-icons img {
  width: 40px;
  margin-right: 0.2rem;
}
